{
    "env": {
        "browser" : true,
    },
    "rules": {
        "quotes": [2, "single"],
		"no-trailing-spaces": 0,
		"no-underscore-dangle": 0,
		"no-multi-spaces": 1
    },
    "globals": {
        "THREE",
    }
}
